*{
    margin:0;
    padding:0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(135deg, #d72b6f 0%, #1fb3f0 100%);
}
.calc{
    width:500px;
    height:80%;
    padding:25px;
    border:2px solid #000; 
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;   
    flex-direction: column;
    border-radius: 10px;
}
.calc .screen{
    width: 100%;
    height: 100%;
    background:#fff;
    color:#000;
    font-weight: bold;
    /* border-radius:30px 30px 0 0; */
    padding: 3px 0 0 5px;
}
.calc .screen div{
    margin: 40px;
    font-size: 1.6em;
}
.calc .screen input{
    border: none;
    width: 80%;
    padding: 0 3px;
}
.calc .screen input:focus{
    outline: none;
    font-size: 1em;
}
.btn{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color:#2492ed;
    margin:0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
    padding:2.5px;
    border-radius: 10px;
}
.btn button{
    font-size: 1em;
    width: 100px;
    height: 50px;
    font-weight: 500;
    border-radius:20px ;
    border:.5px solid transparent;
    cursor: pointer;
    background-color: #9e9e9e;
    color:#fff;
    display:none;
    transition: .3s ease;
}
.btn button:hover{
    background-color:#fff ;
    color:#000;
}
.btn #start{
    display: inline;
}
