*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
p{
  direction: rtl;
}
a{
  text-decoration: none;
  color: #fff;
}
li{
  list-style: none;
}
body {
  background: linear-gradient(135deg, #d72b6f 0%, #1fb3f0 100%);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 25px;
  margin-right: 25px;
  min-height: 100vh;
}
header .nav{
  display: flex;
  justify-content: space-between;
}
header .nav h1{
  font-size: 40px;
  font-weight: 600;
  padding-left: 30px;
  margin-top: 30px;
  margin-left: 20px;
}
@media(max-width:767px){
  header .nav h1{
    font-size: 25px;
    padding-left: 0;
  }
}
header .nav ul li{
  display: inline-block;
}
header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header nav ul {
  display: flex;
  padding: 0 30px;
  margin-top: 0;
}
header i{
  font-size: 1.3em;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
}
.article {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff70;
  padding: 20px;
  margin: 20px auto;
}
.article h1{
  font-size: 1.8em;
  color: #643893db;
  font-weight: 700;
  margin-bottom:10px;
  text-align: center;
}
.article p{
  font-size: 1.5em;
  color: #000;
  font-weight: 600;
}
.img img{
  width: 200px;
  height: 200px;
  margin: 30px 40px;
}